.navbar {
  padding: 10px;
  border-bottom: 2px solid #adb3b3;
  justify-content: space-between !important;
}
.navbar .logo img {
  height: 50px;
}
.right_nav {
  list-style: none;
  padding-right: 20px;
}
.right_nav li {
  display: inline-block;
  margin-right: 20px;
}
.right_nav .not_logged li img{
  margin-left:15px;
}
.right_nav li .btn,.right_nav .not_logged li {
  font-size: 20px;
}
.right_nav li .userItem.dropdown .btn:before {
  bottom: 12px;
}
.right_nav li .dropdown .btn {
  color: #2c2c2c;
  background-color: transparent;
  border: none;
}
.right_nav li .dropdown .btn:hover,
.right_nav li .dropdown .btn:focus {
  color: #0e707c;
  background-color: transparent;
  border: none;
  box-shadow: none !important;
}
.right_nav li .dropdown-toggle:after {
  display: none;
}
.right_nav li .dropdown {
  top: -1px;
}
.right_nav li .dropdown .dropdown-item:active,
.right_nav li .dropdown .dropdown-item:focus {
  background-color: transparent;
}
.right_nav li .dropdown.userItem {
  top: 0px;
}
.right_nav li .user_logo {
  font-size: 31px;
  font-weight: bold;
  position: relative;
  top: 4px;
  margin-left: 15px;
  color: #fff;
}
.right_nav li .user_logo:after {
  content: "";
  display: inline-block;
  background-color: #b6cfd0;
  padding: 2px 10px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: absolute;
  right: -23px;
  z-index: -2;
}
.mobile_menu {
  display: none;
  float: right;
  position: relative;
  top: 0;
  padding: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(14, 112, 124);
}
.mobile_menu.no_bg{
  background-color: transparent !important;
  cursor: pointer;
}
.dropdown-menu.show {
  right: 0;
  left: unset;
  padding: 2px;
  background-color: rgb(182, 207, 208);
}
.mobile_menu .dropdown-toggle,
.mobile_menu .dropdown-toggle:active,
.mobile_menu .dropdown-toggle:before,
.mobile_menu .dropdown-toggle:after {
  display: inline-block;
  position: absolute;
  top: -13px;
  right: -17px;
  border: none;
  height: 5px;
  width: 33px;
  border-radius: 4px;
  padding: 0;
  background-color: #fff !important;
  box-shadow: none !important;
}
.mobile_menu .dropdown-toggle:before {
  top: 22px;
  content: "";
  left: 0px;
}
.mobile_menu .dropdown-toggle:after {
  top: 11px;
  content: "";
  left: -4px;
  width: 40px;
}
.lvl1 {
  background-color: #fff;
  color: #333;
  margin: 1px 0;
  display: inline-block;
  width: 100%;
}
.lvl2 {
  background-color: rgb(14, 112, 124);
  color: #fff;
  margin: 1px 0;
  display: inline-block;
  width: 100%;
}
.lvl3 {
  background-color: rgb(95, 152, 159);
  color: #fff;
  display: inline-block;
  width: 100%;
}
.custom_lvl {
  padding: 0.25rem 1.5rem;
}
.navbar-light .dropdown-menu {
  margin-top: 20px;
  border-radius: 0;
}
.userItem.dropdown .dropdown-menu {
  margin-top: 9px;
}
.dropdown-item {
  padding: 0 !important;
}
.right_nav .dropdown-item a {
  padding: 0.25rem 1.5rem;
  display: inline-block;
  width: 100%;
  color: #333;
}
.right_nav .dropdown-item a:hover,
.right_nav .dropdown-item a:focus {
  text-decoration: none;
}

.not_logged a{text-decoration: none;color: #000;}
.not_logged a:hover,.not_logged a:focus{color: #0e707c;text-decoration: none;}
@media all and (max-width: 667px) {
  .navbar .right_nav {
    display: none;
  }
  .mobile_menu {
    display: inline-block;
  }
  .mobile_menu a {
    text-decoration: none;
  }
  .mobile_menu a:hover,
  .mobile_menu a:focus {
    text-decoration: none;
    color: #333;
    background-color: #b6cfd0;
  }
  /* .dropdown-item a{padding: 0 !important} */
  .dropdown-menu.show {
    right: -40px;
    width: 180px;
    margin-top: 34px;
    padding: 2px;
    background-color: rgb(14, 112, 124);
  }
}
