* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif !important;
}
body {
  overflow-x: hidden;
  font-family: "Questrial", sans-serif;
}
h1 {
  font-size: 32px !important;
}
h2,
.heading {
  font-size: 20px !important;
  font-weight: 500 !important;
}
h3 {
  font-size: 16px !important;
  font-weight: bold !important;
}
h4 {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #7b7b7b;
}

p.paragraph,
h5 {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #000 !important;
}
h6 {
  font-size: 10px !important;
  font-weight: 500 !important;
}
.bold{font-weight: bold !important}
.underline{text-decoration: underline}
.primary {
  color: #0e707c !important;
}
.bg_primary {
  background-color: #0e707c !important;
}
.secondary {
  color: #b6cfd0 !important;
}
.bg_secondary {
  background-color: #b6cfd0 !important;
}
.form .form-group{
  margin-bottom: 30px;
  position: relative;
}
.form .label {
  color: #7b7b7b;
  font-weight: bold;
  padding-left: 15px;
}
input.form-control,
textarea,
.dropdown-select input {
  border-color: #b6cfd0;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 15px !important;
  max-width: 300px;
  height: 30px;
  color: #000;
}
textarea.form-control{
  resize: none;
  height: 130px !important;
  border-radius: 0;
}
textarea:hover,textarea:focus,textarea:active{
  box-shadow: none !important;
  border-color: #b6cfd0 !important;
}
.textarea_tooltip{
  position: absolute;
  top: -5px;
  right: -20px;
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
.textarea_tooltip.input{
  top: 0;
  right: -10px;
}
.dropdown-select input {
  height: 27px !important;
  background: transparent;
}
.dropdown-select {
  max-width: 300px;
  border-color: #b6cfd0 !important;
  height: 30px;
  border-radius: 0 !important;
}
input.form-control:focus {
  box-shadow: none;
  border-color: #b6cfd0;
}
.dropdown-select .dropdown-select__container .dropdown-select__arrow {
  border-left: none !important;
  background: none !important;
}
.dropdown-select .dropdown-select__container .dropdown-select__arrow .arrow-down {
  top: 11px !important;
  border-top: 5px solid #b6cfd0 !important;
}
.dropdown-select .dropdown-select__container .dropdown-select__arrow .arrow-up {
  top: 10px !important;
  border-bottom: 5px solid #b6cfd0 !important;
}
.dropdown-select .dropdown-select__options .dropdown-select__options__option:hover, .dropdown-select .dropdown-select__options .dropdown-select__options__option--focused {
  background-color: #b6cfd0 !important;
}
a.btn_green ,.btn_green{
  background-color: #0e707c;
  color: #fff;
  height: 50px;
  min-width: 150px;
  padding: 12px 20px;
  border: 0;
  border-radius: 0;
  font-size: 18px;
  box-shadow: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}
.back_btn{
  margin-top: 12px;
}
.btn_green.btn_upload{
  height: 35px;
  min-width: 135px;
  padding: 5px 20px;
}
a.btn_green:hover ,.btn_green:hover,
a.btn_green:focus,.btn_green:focus,
a.btn_green:active,.btn_green:active {
  background-color: #5f989f;
  outline: none;
  color: #fff;
  text-decoration: none;
}
.btn_white {
  border: 2px solid #0e707c;
  color: #0e707c;
  height: 50px;
  min-width: 128px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 0;
  text-transform: uppercase;
}
.btn_white:hover,.btn_white:focus,.btn_white:active {
  color: #5f989f;
  border-color: #5f989f;
  outline: none;
  text-decoration: none;
}
::placeholder {
  color: #7b7b7b !important;
  font-size: 14px !important;
  line-height: 16px;
}
label.error{
  color: #ff0000;
  font-size: 14px;
  padding-left: 15px;
  bottom: -30px !important;
}
table label.error{
  bottom: -50px !important;
}
.right_nav .dropdown-item span{
  padding: 0.25rem 1.5rem;
    display: inline-block;
    width: 100%;
    color: #333;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #b6cfd0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #5f989f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
   width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #5f989f;
  cursor: pointer;
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before,
.custom-control-input:focus~.custom-control-label::before{
  border-color: #adb5bd !important;
  box-shadow: none !important;
}
td.no-border-left *{
  border-left: none
}
/* ------------------------------------------------------------------------ */
.body_content {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
.body_content .sidebar {
  flex: 0 0 15%;
  width: 15%;
  background-color: rgb(14, 112, 124);
}
.body_content .sidebar.second {
  background-color: rgb(95, 152, 159);
}
.body_content .content {
  flex: 0 0 85%;
  width: 85%;
}
.sidebar_list {
  background-color: rgb(14, 112, 124);
  text-align: right;
}
.sidebar_list li {
  /* padding: 20px; */
  cursor: pointer;
}
.sidebar_list li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  padding: 10px 20px 10px 10px;
  border-radius: 0;
}
.sidebar_list li a.active,
.sidebar_list li a:hover {
  background-color: #8dc1c7;
}
.sidebar_list.second li a.active,
.sidebar_list.second li a:hover {
  background-color: #b6cfd0;
}

@media all and (max-width: 800px) {
  .sidebar_list li a {
    font-size: 15px !important;
    padding: 10px !important;
  }
}
@media all and (max-width: 667px) {
  .body_content .content {
    flex: 0 0 100%;
    width: 100%;
  }
  .body_content .sidebar {
    display: none;
  }
}

.loader_overlay{
  height: 100%;
  width: 100%;
  position: sticky;
  top: 20vh;
  z-index: 1;
  /* background-color: rgba(0,0,0,.3); */
}
.alert-danger {
  color: #ff0000 !important;
  font-size: 14px;
}
.Toastify__toast--success{
  background-color: rgb(14, 112, 124) !important;
}
.custom_loader {
  color: rgb(14, 112, 124);
  font-size: 50px;
  text-indent: -9999em;
  z-index: 2;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  position: absolute;
  left: 30%;
  bottom:0;
  top: 0;
  margin: auto;
}
.form-control:disabled, .form-control[readonly]{
  background-color: transparent !important;
}
@media all and (max-width: 568px){

  
  
  .form input{

    width: 100% !important;
  
  }

  .content .pl-5{

    padding-left: 0 !important;

  }

  .content .home_page h1{

    font-size: 40px !important;

  }

}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.mobile_menu .not_logged a:hover,
  .mobile_menu .not_logged a:focus {
    background-color: transparent;
  }
