* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif !important;
}
body {
  overflow-x: hidden;
  font-family: "Questrial", sans-serif;
}
h1 {
  font-size: 32px !important;
}
h2,
.heading {
  font-size: 20px !important;
  font-weight: 500 !important;
}
h3 {
  font-size: 16px !important;
  font-weight: bold !important;
}
h4 {
  font-size: 16px !important;
  font-weight: 500 !important;
}
p.paragraph,
h5 {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #000 !important;
}
h6 {
  font-size: 10px !important;
  font-weight: 500 !important;
}
.bold{font-weight: bold}
.underline{text-decoration: underline}
.primary {
  color: #0e707c !important;
}
.bg_primary {
  background-color: #0e707c !important;
}
.secondary {
  color: #b6cfd0 !important;
}
.bg_secondary {
  background-color: #b6cfd0 !important;
}
.form .label {
  color: #0e707c;
  font-weight: bold;
  padding-left: 15px;
}
input.form-control,
.dropdown-select input {
  border-color: #b6cfd0;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 15px !important;
  max-width: 300px;
  height: 30px;
  color: #000;
}
.dropdown-select input {
  height: 27px !important;
  background: transparent;
}
.dropdown-select {
  max-width: 300px;
  border-color: #b6cfd0 !important;
  height: 30px;
  border-radius: 0 !important;
}
input.form-control:focus {
  box-shadow: none;
  border-color: #b6cfd0;
}
.dropdown-select .dropdown-select__container .dropdown-select__arrow {
  border-left: none !important;
  background: none !important;
}
.dropdown-select .dropdown-select__container .dropdown-select__arrow .dropdown-select__arrow-icon {
  top: 10px !important;
  border-top: 5px solid #b6cfd0 !important;
}
.btn_green {
  background-color: #0e707c;
  color: #fff;
  height: 50px;
  min-width: 150px;
  padding: 10px 20px;
  border: 0;
  border-radius: 0;
  font-size: 18px;
  box-shadow: none;
  text-transform: uppercase;
}
.btn_green:hover,
.btn_green:focus,
.btn_green:active {
  background-color: #5f989f;
  outline: none;
}
.btn_white {
  border: 2px solid #0e707c;
  color: #0e707c;
  height: 50px;
  min-width: 130px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 0;
  text-transform: uppercase;
}
.btn_white:hover,.btn_white:focus,.btn_white:active {
  color: #5f989f;
  border-color: #5f989f;
  outline: none;
}
::placeholder {
  color: #7b7b7b !important;
  font-size: 14px !important;
}
/* ------------------------------------------------------------------------ */
.body_content {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
.body_content .sidebar {
  flex: 0 0 15%;
  width: 15%;
  background-color: rgb(14, 112, 124);
}
.body_content .sidebar.second {
  background-color: rgb(95, 152, 159);
}
.body_content .content {
  flex: 0 0 85%;
  width: 85%;
}
.sidebar_list {
  background-color: rgb(14, 112, 124);
  text-align: right;
}
.sidebar_list li {
  /* padding: 20px; */
  cursor: pointer;
}
.sidebar_list li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  padding: 10px 20px 10px 10px;
  border-radius: 0;
}
.sidebar_list li a.active,
.sidebar_list li a:hover {
  background-color: #8dc1c7;
}
.sidebar_list.second li a.active,
.sidebar_list.second li a:hover {
  background-color: #b6cfd0;
}

@media all and (max-width: 800px) {
  .sidebar_list li a {
    font-size: 15px !important;
    padding: 10px !important;
  }
}
@media all and (max-width: 667px) {
  .body_content .content {
    flex: 0 0 100%;
    width: 100%;
  }
  .body_content .sidebar {
    display: none;
  }
}
